
{% include "admin_header.html" %}
<main class="admin_content">
<form method="post" class="card p-4 bg-dark text-light">
  {% csrf_token %}

  <h4 class="mb-3">📢 Send Notification</h4>

  <input type="text" name="title" class="form-control mb-3"
         placeholder="Title" required>

  <textarea name="message" class="form-control mb-3"
            placeholder="Message" required></textarea>

  <!-- TARGET SELECT -->
  <select name="target" class="form-select mb-3" id="targetSelect">
    <option value="public">🌍 Public</option>
    <option value="all">👥 All Users</option>
    <option value="user">👤 Specific User</option>
  </select>

  <!-- USER SELECT -->
  <select name="user" class="form-select mb-3 d-none" id="userSelect">
    <option value="">Select User</option>
    {% for user in users %}
      <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
  </select>

  <button class="btn btn-warning">Send</button>
</form>
</main>

<script>
  const targetSelect = document.getElementById("targetSelect");
  const userSelect = document.getElementById("userSelect");

  targetSelect.addEventListener("change", () => {
    userSelect.classList.toggle(
      "d-none",
      targetSelect.value !== "user"
    );
  });
</script>

