{% include 'public_header.html' %}

<main class="main">
  <section class="hero d-flex align-items-center justify-content-center" style="min-height:100vh;">

    <form method="POST" action="{% url 'register' %}"
          class="p-4 rounded shadow"
          style="max-width:700px;width:100%;">

      {% csrf_token %}

      <h1 class="text-center mb-4">Register</h1>

      <div class="row gy-3 align-items-center">

        <div class="col-md-4 text-md-end">
          <label><h5>Username</h5></label>
        </div>
        <div class="col-md-8">
          <input type="text" name="username" class="form-control" required>
        </div>

        <div class="col-md-4 text-md-end">
          <label><h5>Email</h5></label>
        </div>
        <div class="col-md-8">
          <input type="email" name="email" class="form-control" required>
        </div>

        <div class="col-md-4 text-md-end">
          <label><h5>Password</h5></label>
        </div>
        <div class="col-md-4">
          <input type="password" name="password" class="form-control" required>
        </div>

        <div class="col-md-4">
          <input type="password" name="confirm_password"
                 class="form-control" placeholder="Confirm Password" required>
        </div>

        <div class="col-md-12 text-center mt-4">
          <button type="submit" class="btn btn-success px-4">Register</button>
        </div>

        {% if error %}
          <p class="text-danger text-center mt-2">{{ error }}</p>
        {% endif %}

        <div class="col-md-12 text-center mt-3">
          <p>Already have an account?
            <a href="{% url 'login' %}">Login here</a>
          </p>
        </div>

      </div>
    </form>
  </section>
</main>
{% include 'public_footer.html' %}
