body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70c5ce; /* sky blue background */
  touch-action: none;
}

#game-container {
  position: fixed;
  width: 360px;           /* fixed width */
  height: 600px;          /* fixed height */
  background: url('bg.png');
  overflow: hidden;
  border: 4px solid #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#bird {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 280px;
  left: 100px;
  z-index: 10;
}

.pipe {
   background: linear-gradient(to right, yellow, green);
  z-index: 1;
}

#score {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  z-index: 20;
}

/* Game Over Popup */
#game-over-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  pointer-events: auto;
}

#popup-content {
  background-color: #d1bb80;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#popup-content p {
    font-family: 'Press Start 2P', monospace;
    font-size: 40px;
    color: #ff9900;
    text-shadow: 4px 4px #000;
    pointer-events: auto;
}

#restart-btn {
  cursor: pointer;
  background-color: #F57327;
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 4px 4px #000;
  font-family: 'Press Start 2P', monospace;
  font-size: 16px;
	color: #FEE7E7;
    text-shadow: 4px 4px #000;
}


